<template>
    <v-app>
        <v-app-bar
            app
        >
            <v-btn to="/formula-inference" v-if="isUserLoggedIn">Вывод формул</v-btn>
            <v-btn to="/home" v-if="isUserLoggedIn">Личный кабинет</v-btn>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        v-bind="attrs"
                        v-on="on"
                        @click="exitTheApp"
                    >
                        <v-icon>mdi-exit-to-app</v-icon>
                    </v-btn>
                </template>
                <span>Выйти</span>
            </v-tooltip>
        </v-app-bar>
        <v-main>
            <router-view></router-view>
        </v-main>
        <notifications position="bottom right" width="25%">
            <template slot="body" slot-scope="{ item }">
                <v-alert
                    :type="item.type"
                    border="left"
                    dismissible
                >
                    <span class="font-weight-bold">{{ item.title }}: </span>{{ item.text }}
                </v-alert>
            </template>
        </notifications>
    </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({})
export default class App extends Vue {
    async mounted () {
        await this.enterTheApp()
    }

    async enterTheApp () {
        const enterSuccess = await this.doEnter({ storage: this.$storage })
        if (!enterSuccess && this.$router.currentRoute.fullPath !== '/login') {
            await this.$router.push({ path: '/login' })
        }
    }

    async exitTheApp () {
        await this.dropUser()
        await this.$router.push({ path: '/login' })
    }

    doEnter = (payload: any) => true // authModule.context(this.$store).actions.enter
    isUserLoggedIn = true // authModule.context(this.$store).getters.isUserLoggedIn
    dropUser = () => {
        delete window.localStorage.token
        return true
    } // authModule.context(this.$store).actions.dropUser
}
</script>
