<template>
    <h1>Проверка истинности формул</h1>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({})
export default class FormulaValidity extends Vue {

}
</script>
