<template>
    <v-container fluid>
        <v-row justify="center" align="center">
            <v-col cols="6">
                <v-sheet>
                    <v-textarea
                        auto-grow
                        clearable
                        clear-icon="mdi-close-circle"
                        rows="3"
                        outlined
                        label="Задание"
                    ></v-textarea>
                </v-sheet>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="8">
                <v-container fluid>
                    <v-row
                        v-for="(solving, i) in solvings"
                        :key="i"
                        align="center"
                        justify="space-around"
                    >
                        <v-col cols="1">
                            {{ i + 1 }}.
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                :label="solving.label1"
                                v-model="solving.value1"
                                readonly
                            ></v-text-field>
                        </v-col>
                        <v-col cols="4">
                            <v-text-field
                                :label="solving.label2"
                                v-model="solving.value2"
                                :readonly="readonly(i) || !calculus"
                                @keyup="onKeyUp(i)"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="1">
                            <v-container v-if="!readonly(i)">
                                <v-btn @click="deleteSolving(i)" class="error" fab small>
                                    <v-icon>mdi-minus</v-icon>
                                </v-btn>
                            </v-container>
                        </v-col>
                    </v-row>
                    <v-btn
                        @click="addSolving()"
                        class="ok"
                        fab
                        small
                        :disabled="calculus === undefined || solvings[this.solvings.length - 1].value1 === ''"
                    >
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-container>
            </v-col>
            <v-col cols="4">
                <v-container fluid>
                    <v-select
                        :items="calculusList"
                        label="Исчисление"
                        @input='showComponents'
                    ></v-select>
                    <v-list>
                        <v-subheader>Аксиомы</v-subheader>
                        <v-list-item
                            v-for="(rule, i) in axioms"
                            :key="i"
                        >
                            <v-list-item-content>
                                <v-container fluid>
                                    <v-row>
                                        <v-col cols="3">
                                            <v-text-field
                                                label="Имя"
                                                v-model="rule.name"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-text-field
                                                label="Аксиома"
                                                v-model="rule.notation"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-btn
                                    @click="deleteComponent(i, true)"
                                    class="error"
                                    fab
                                    small
                                >
                                    <v-icon>mdi-minus</v-icon>
                                </v-btn>
                            </v-list-item-action>
                        </v-list-item>
                    </v-list>
                    <v-btn
                        :disabled="calculus === undefined"
                        @click="addComponent(true)"
                        class="ok"
                        fab
                        small
                    >
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                    <v-divider class="my-5"></v-divider>
                    <v-list>
                        <v-subheader>Правила вывода</v-subheader>
                        <v-list-item
                            v-for="(rule, i) in rules"
                            :key="i"
                        >
                            <v-list-item-content>
                                <v-container fluid>
                                    <v-row>
                                        <v-col cols="3">
                                            <v-text-field
                                                label="Имя"
                                                v-model="rule.name"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-text-field
                                                label="Аксиома"
                                                v-model="rule.notation"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-btn
                                    @click="deleteComponent(i, false)"
                                    class="error"
                                    fab
                                    small
                                >
                                    <v-icon>mdi-minus</v-icon>
                                </v-btn>
                            </v-list-item-action>
                        </v-list-item>
                    </v-list>
                    <v-btn
                        :disabled="calculus === undefined"
                        @click="addComponent(false)"
                        class="ok"
                        fab
                        small
                    >
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-container>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { notify } from '@/core/notification-facade'

@Component({})
export default class FormulaInference extends Vue {
    taskText = 'Задание';
    solvings = [{ label1: 'Формула', value1: '', label2: 'Обоснование', value2: '' }];
    // contexts = ['P1', 'P2', 'LK']; //   подгрузить из бд список контекстов
    calculus: any = undefined
    calculusList: any[] = [];
    axioms: any[] = [];
    components: any[] = [];
    timer: any = undefined
    rules: any = []
    calculusObject: any = undefined

    async mounted () {
        if (!window.localStorage.token) {
            await this.$router.push('/login')
        }
        const url = location.origin.replace(`:${location.port}`, ':8000')
        const response = await fetch(`${url}/api/calculus/`, {
            headers: {
                'Content-Type': 'application/json',
                Authorization: `Token ${window.localStorage.token}`
            }
        })
        if (response.status === 401 || response.status === 403) {
            await this.$router.push('/login')
        } else if (response.status === 200) {
            this.calculusList = (await response.json()).map((e: any) => Object({
                text: e.name,
                value: e.id,
                extra: e.inference_rules
            }))
        }
    }

    readonly (i: any) {
        return i < this.solvings.length - 1
    }

    onKeyUp (i: any) {
        if (this.timer !== undefined) {
            clearTimeout(this.timer)
        }
        this.solvings[this.solvings.length - 1].value1 = ''
        this.timer = setTimeout(this.fire, 2000)
    }

    async fire () {
        const body = {
            axioms: this.axioms,
            rules: this.rules,
            command: this.solvings[this.solvings.length - 1].value2,
            steps: this.solvings.slice(0, this.solvings.length - 1).map((e: any) => Object({
                command: e.value2,
                formula: e.value1
            }))
        }
        const url = location.origin.replace(`:${location.port}`, ':8000')
        const response = await fetch(`${url}/api/core/make_inference/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                Authorization: `Token ${window.localStorage.token}`
            },
            body: JSON.stringify(body)
        })
        if (response.status === 401 || response.status === 403) {
            await this.$router.push('/login')
        } else if (response.status === 200) {
            const data = await response.json()
            this.solvings[this.solvings.length - 1].value1 = data.formula
            notify().success('Выведена формула', data.formula)
        } else if (response.status === 400) {
            const d = await response.json()
            const msgs = Object.entries(d).map((e: any) => e.length ? `${e[1]}` : e)
            notify().warn('Ошибка', msgs.join(', '))
        } else {
            console.error(await response.text())
        }
    }

    addSolving (e: any) {
        this.solvings.push({
            label1: 'Формула',
            value1: '',
            label2: 'Обоснование',
            value2: ''
        })
    };

    deleteSolving (index: number) {
        if (this.solvings.length - 1) {
            this.solvings.splice(index, 1)
        }
    };

    addComponent (axiom: any) {
        if (axiom) {
            this.axioms.push({
                notation: '',
                name: ''
            })
        } else {
            this.rules.push({
                notation: '',
                name: ''
            })
        }
    };

    deleteComponent (index: number, axiom: any) {
        this.solvings = [{
            label1: 'Формула',
            value1: '',
            label2: 'Обоснование',
            value2: ''
        }]
        if (axiom) {
            this.axioms.splice(index, 1)
        } else {
            this.rules.splice(index, 1)
        }
    };

    showComponents (calculus: any) {
        const c = this.calculusList.filter((e: any) => e.value === calculus)
        this.calculusObject = c[0]
        const current = this.axioms.map((e: any) => e.notation)
        const income = c[0].extra.map((r: any) => r.notation)
        if (calculus !== this.calculus && current.length === current.filter((e: any) => income.includes(e)).length) {
            this.solvings = [{
                label1: 'Формула',
                value1: '',
                label2: 'Обоснование',
                value2: ''
            }]
        }
        this.calculus = calculus
        console.log(this.calculusList)
        console.log(c)
        this.axioms = c[0].extra.filter((e: any) => e.is_axiom).map((e: any) => Object.assign({}, e))
        this.rules = c[0].extra.filter((e: any) => !e.is_axiom).map((e: any) => Object.assign({}, e))
    }
}
</script>

<style scoped>

</style>
