<template>
    <v-container fluid>
        <v-row>
            <v-col cols="2">
                <v-list nav dense>
                    <v-list-item v-for="menu in menus" :key="menu.title" link>
                        <v-list-item-content>{{ menu.title }}</v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-col>
            <v-col>
                <v-container fluid>
                    <router-view></router-view>
                </v-container>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({})
export default class Home extends Vue {
    menus = [
        {
            title: 'Профиль'
        }
    ]

    mounted () {
        if (!window.localStorage.token) {
            this.$router.push('/login')
        }
    }
}
</script>

<style scoped>

</style>
