<template>
<v-container>
    <v-row justify="center" align="center">
        <v-col cols="6">
            <v-text-field v-model="login" label="Логин"></v-text-field>
            <v-text-field v-model="password" label="Пароль" :type="showPassword ? 'text' : 'password'" :append-outer-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" @click:append="showPassword = !showPassword" @keyup.enter="loginWithPassword"></v-text-field>
            <v-btn block @click="loginWithPassword">
                Войти
                <v-icon>mdi-login</v-icon>
            </v-btn>
        </v-col>
    </v-row>
</v-container>
</template>

<script lang="js">
import {
    Component,
    Vue
} from 'vue-property-decorator'

const getUrlParams = (search = '') => {
    const hashes = search.slice(search.indexOf('?') + 1).split('&')
    return hashes.reduce((acc, hash) => {
        const [key, val] = hash.split('=')
        return {
            ...acc,
            val: decodeURIComponent(val)
        }
    }, {})
}

@Component({})
export default class Login extends Vue {
    login = '';
    password = '';
    showPassword = false;

    mounted () {
        console.log(window.localStorage.token !== undefined)
        if (window.localStorage.token !== undefined) {
            this.$router.push('/home')
        }
    }

    async loginWithPassword () {
        const ok = await this.doLogin({
            storage: this.$storage,
            loginPasswordData: {
                username: this.login,
                password: this.password
            }
        })
        if (ok) {
            const search = window.location.hash.replace('#/login', '')
            const query = getUrlParams(search)
            const redirect = query.to ? window.decodeURIComponent(query.to) : '/home'
            await this.$router.push(redirect)
        }
    }

    doLogin = async ({ storage, loginPasswordData }) => {
        const url = location.origin.replace(`:${location.port}`, ':8000')
        const response = await fetch(`${url}/api/users/sign_in/`, {
            method: 'POST',
            body: JSON.stringify(loginPasswordData),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        if (response.status !== 200) {
            console.log(response)
            return false
        }
        window.localStorage.token = (await response.json()).token
        return true
    }; // authModule.context(this.$store).actions.login
}
</script>

<style scoped>
</style>
